@import "variables";

.ant-tabs-nav-container {
  .ant-tabs-nav-wrap {
    .ant-tabs-nav-scroll {
      .ant-tabs-nav {
        &.ant-tabs-nav-animated {
          width: 100%;

          > div {
            display: flex;
            justify-content: space-between;

            .ant-tabs-tab {
              flex-grow: 1;
              text-align: center;
              color: $dark-gray;
              font-size: 13pt;
              line-height: 18pt;
            }

          }
        }
      }
    }
  }
}

.ant-tabs-ink-bar {
  background-color: $reddish-orange !important;

  &.ant-tabs-ink-bar-animated {
  }
}
